.card {
  box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  background: white;
  background-size: 35%;
  border-radius: 6px;
  padding: 20px;
  margin: 30px auto;
  max-width: 45%;
  color: white;
}
