//colors
$concrete: #f2f2f2;
$white: #fafafa;
$color_cerulean_approx: #00a6ea;
$black_10: rgba(0, 0, 0, 0.1);
$color_mountain_mist_approx: #999;
$color_gamboge_approx: #e39c14;
$color_mine_shaft_approx: #333;
$color_storm_dust_approx: #666;
$black: #000;
$red: #f44336;
$main-color: #ffffff;
$main-font-color: #2f3542;
$hover-background-color: #00A6EA;
$active-color: #00A6EA;
