.shopping-cart-details-container {
  float: right;
  overflow: hidden;
  min-width: 45px;
  margin: 0 10px;
  
  &:hover {
    .shopping-cart-details {
      display: block;
    }
  }

  a.cart {
    border-radius: 10px;
    padding: 8px;
    border: 1px solid black;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: black;
    float: left;
    margin: 6px 0;
    position: relative;

    span.counter {
      position: absolute;
      top: -5px;
      left: 20px;
      border: 1px solid black;
      height: 16px;
      border-radius: 25px;
      width: 16px;
      background-color: orange;
      font-size: 12px;
      line-height: 1.3;
      text-align: center;
      color: white;
      padding: 2px;
    }
  }

  .shopping-cart-details {
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
    min-height: 300px;
    min-width: 200px;
    top: 55px;
  }
}
