@import '../../../variables/colors/primary-colors';
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.main-navigation {
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  background-color: $main-color;
  z-index: 3;
  width: 100%;
  box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.2);

  .main-navigation-item {
    background-color: $main-color;
    float: left;
    display: block;
    color: $main-font-color;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;

    &:hover {
      background-color: $hover-background-color;
      color: white;
    }

    &.active {
      background-color: $hover-background-color;
      color: white;
    }
  }

  .app-shopping-cart {
    float: left;
  }

  .main-navigation-toggle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .main-navigation {
    .main-navigation-item {
      display: block;
      float: left;
      width: 100%;
      text-align: left;

      &.is-hidden {
        display: none;
      }

      .active-indicator {
        left: 0;
        top: 0;
        width: 2px;
        height: 100% !important;
      }

      &:first-child {
        display: block;
        float: left;
        width: 100%;
      }
    }

    .main-navigation-toggle {
      position: absolute;
      display: block;
      right: 8px;
      height: 46px;
      width: 46px;
      padding: 0;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .app-language-selector {
      &.is-hidden {
        display: none;
      }
    }
  }
}
