@import '../../../../../variables/colors/primary-colors';
@import '../../../../../variables/mixins/button-mixins';
@import '../../../../../variables/mixins/input-mixins';

.content {
  padding: 30px;

  .form {
    .form-row {
      display: flex;
      flex-direction: row;

      &:not(:last-child) {
        margin: 0 0 10px;
      }
    }
    .input-group {
      width: 100%;

      .error-container {
        padding: 10px 0;

        .error-message {
          font-family: 'Quicksand', sans-serif;
          color: $red;
        }
      }
    }
    label {
      @include input-label($color_cerulean_approx);
    }
    input {
      @include primary-input($color_mountain_mist_approx, $black_10);
    }
  }
}
.footer .button {
  @include primary-button;
}
