<div class='content'>
    <form [formGroup]="registerForm" class='form'>
        <div *ngFor="let field of formFields" class='form-row'>
            <div class='input-group'>
                <label>{{ field.label }}</label>
                <input formControlName="{{ field.name }}" placeholder='' type="{{ field.type }}">
                <div class="error-container" *ngIf="!registerForm.get(field.name).untouched && registerForm.get(field.name).errors">
                    <div class="error-message" *ngFor="let error of registerForm.get(field.name).errors | keyvalue">
                        {{ field.errorMessages[error.key]}}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<footer class='footer'>
    <button [disabled]="registerForm.invalid" class='button'>Signup</button>
</footer>

