@import '../../variables/colors/primary-colors';

@mixin primary-button {
  outline: none;
  display: block;
  background: $color_gamboge_approx;
  width: 100%;
  border: 0;
  padding: 20px 30px;
  color: $white;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
