<div class='content'>
  <form [formGroup]="loginForm" (submit)="submitLoginForm()" class='form'>
    <div class='form-row'>
      <div class='input-group'>
        <label>Email</label>
        <input formControlName="email" placeholder='' type='email'>
      </div>
    </div>
    <div class='input-group'>
      <label>Password</label>
      <input formControlName="password" placeholder='' type='password'>
    </div>
  </form>
</div>
<footer class='footer'>
  <button [disabled]="loginForm.invalid" class='button'>Login</button>
</footer>
